* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-family: 'Gotham';
    font-weight: lighter;
    text-align: center;
    font-weight: bolder;

    width: 100%;
}

h1 {
    text-align: left;
    font-family: 'The Bold Font';
    color: #ffffff;
    font-size: 6vw;


}

img {
    width: 100%;
}


@font-face {
    font-family: 'The Bold Font';
    src: url('fonts/TheBoldFont.woff2') format('woff2'),
        url('fonts/TheBoldFont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBold.woff2') format('woff2'),
        url('fonts/GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBold.woff2') format('woff2'),
        url('fonts/GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Thin.woff2') format('woff2'),
        url('fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.woff2') format('woff2'),
        url('fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-XLight.woff2') format('woff2'),
        url('fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Book.woff2') format('woff2'),
        url('fonts/Gotham-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('fonts/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Black.woff2') format('woff2'),
        url('fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Light.woff2') format('woff2'),
        url('fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


.footer-content {
    display: flex;
    justify-content: space-between;


}

.open-hours {
    flex-grow: 1;
    flex-basis: 200px;

}

.footer-kontakt {
    flex-grow: 1;
    flex-basis: 200px;
    /*    font-family: 'Comfortaa', cursive;*/
    /*    font-family: 'Montserrat',
 sans-serif;*/

}

.find-vej {
    flex-grow: 1;
    flex-basis: 200px;
}

/*----------------HEADER-------------------*/


.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 5;

}

.navbar {
    text-transform: uppercase;
    font-size: 10px;
    background: rgba(47, 47, 47, 0);
    padding-bottom: 10px;
    font-weight: 800;

}

.main-nav {
    list-style-type: none;
    display: none;
    padding-top: 10vw;
}

.nav-links,
.logo {
    text-decoration: none;
    /*    color: rgba(255, 255, 255, 0.7);*/
    color: rgba(255, 255, 255, 0.86);


}

.active {
    display: block;
}


.main-nav li {
    text-align: center;
    margin: 15px auto;

}

.logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    width: 30px;
    float: left;




}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}


@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -10vw;

    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;

    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: underline;

    }
}


.headertext {
    padding: 40vw 20vw 0vw 0vw;
    display: inline-block;
    font-size: 3vw;
}


.arrow {
    width: 13vw;
    display: inline-block;
    margin-top: -100vw;
    padding-bottom: 1vw;


}



/*----------------HEADER END-------------------*/



/*----------------GRID AREAS-------------------*/




header {
    grid-area: header;
}



p {
    text-align: left;
    /*    font-family: 'The Bold Font';*/
    font-family: 'Gotham';
    font-weight: lighter;
    color: #ffffff;
    font-size: 3vw;


}

.underheader {

    text-align: left;
    font-family: 'Gotham';
    font-weight: 300;
    color: #ffffff;
    font-size: 2vw;
    text-transform: uppercase;

}

/*------Header MediaQuerry-------*/



a {

    text-decoration: none;
}


main {
    grid-area: main;
    background-image: url(Billeder/Faxe_Kalkbrud_.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.om {
    grid-area: om;

}

.omflex {

    display: flex;
    flex-wrap: wrap;
    padding: 10vw;



}

.aarskort {}

.omtext {

    flex-grow: 1;
    flex-basis: 200px;
    background-color: black;
}

.aktuelt {


    padding: 6vw;
}

footer {

    background: rgb(199, 196, 180);
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}


#attraktioner {

    display: grid;
    margin: 0vw;


}

/*----------------GRID AREAS END-------------------*/



/*----------------ATTRAKTIONER-------------------*/




.attraktionflex {

    overflow: hidden;
    display: flex;
    margin: 1vw 6vw;
    ;
    justify-content: space-between;


}

.attraktion-flex-button {

    display: flex;
    flex-wrap: wrap;

}




/*-----------stevns klint----------------*/


.accordion {

    flex-grow: 1;
    flex-basis: 50px;
    margin: 1vw;
    transition: 0.3s;


}

.accordion2 {

    flex-grow: 1;
    flex-basis: 50px;
    margin: 1vw;
    transition: 0.3s;


}

.accordion3 {

    flex-grow: 1;
    flex-basis: 50px;
    margin: 1vw;
    transition: 0.3s;


}


button.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    background-color: transparent;
    color: #fff;
    padding: 1px;
    margin: 1px;
    border-radius: 1px;
    transition: 0.3s;
    flex-basis: 300px;
    flex-grow: 1;
}

button.accordion2 {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    background-color: transparent;
    color: #fff;
    padding: 1px;
    margin: 1px;
    border-radius: 1px;
    transition: 0.3s;
    flex-basis: 300px;
    flex-grow: 1;

}

button.accordion3 {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    background-color: transparent;
    color: #fff;
    padding: 1px;
    margin: 1px;
    border-radius: 1px;
    transition: 0.3s;
    flex-basis: 300px;
    flex-grow: 1;

}

button.accordion:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button.accordion2:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button.accordion3:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button.accordion.active {
    background-color: #fff;
    color: #000;
    border-radius: 4px 4px 0 0;
    margin: 4px 0 0;
}

button.accordion2.active {
    background-color: #fff;
    color: #000;
    border-radius: 4px 4px 0 0;
    margin: 4px 0 0;
}

button.accordion3.active {
    background-color: #fff;
    color: #000;
    border-radius: 4px 4px 0 0;
    margin: 4px 0 0;
}

div.panel {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.3s;
    padding: 0 8px;
    margin: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
    padding: 8px;
    margin: 2px 0 4px;
}


/*----------ACCORDION END--------*/

.stevnsklint_img {

    background-image: url(ikoner/stevnsklintlogo.svg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    width: 20vw;


}

.klint-text {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    color: #88aabf;
    padding: 2vw 3vw;
    font-size: 1.3vw;

}


/*-----------KOLDKRIGSMUSEUM----------------*/

.koldkrigs_img {

    background-image: url(ikoner/koldkrigslogo.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.koldkrigs-text {

    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    color: #387288;
    padding: 2vw 3vw;
    font-size: 1.3vw;

}

/*-----------GEOMUSEUM----------------*/


.geomuseum_img {
    background-image: url(ikoner/geologo.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}


.geo-text {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    color: #88bfb0;
    padding: 2vw 3vw;
    font-size: 1.3vw;

}


@media screen and (min-width: 760px) {

    .attraktionflex {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        margin: 2vw 10vw;

    }

    .stevnsklint_img {
        height: 10vw;
        width: 10vw;
        text-align: center;
        padding: 0vw;
        margin-left: auto;
        margin-right: auto;
    }

    .klint-text {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        color: #88aabf;
        padding: 0vw 3vw;
        font-size: 1vw;
    }

    /*-----------KOLDKRIGSMUSEUM----------------*/



    .koldkrigs_img {
        margin-left: auto;
        margin-right: auto;
        height: 10vw;
        width: 10vw;

        padding: 0vw;

    }

    .koldkrigs-text {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        color: #387288;
        padding: 0vw 3vw;
        font-size: 1vw;

    }


    /*-----------GEOMUSEUM----------------*/


    .geomuseum_img {

        height: 10vw;
        width: 10vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0vw;
    }


    .geo-text {

        text-align: center;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        color: #88bfb0;
        padding: 0vw 3vw;
        font-size: 1vw;
    }



    div.panel.show {
        opacity: 1;
        max-height: 500px;
        padding: 8px;
        margin: 2px 0 4px;
    }

}


/*----------------ATTRAKTIONER SLUT-------------------*/

/*---------------UI ELEMENTER----------*/

#id_kort {


    width: 50px;
    height: 50px;

}


/*----------------TAGLINE-------------------*/


.tagline {
    /*    background-color: #FFF700;*/
    /*        background-color: rgb(229, 197, 125);*/
    /*    background-color: rgb(47, 47, 47);*/
    text-align: center;

}

.tagline-text {

    text-align: center;
    font-family: 'Gotham';
    text-transform: uppercase;
    font-weight: 300;
    color: #000000;
    /*    text-shadow: 0px 5px #a7a7a7;*/
    padding: 5vw;
    font-size: 4vw;

}

.tagline1 {

    grid-area: tagline;
    text-align: center;
    padding: 8vw 3vw;


}

.tagline-text1 {

    text-align: center;
    font-family: 'The Bold Font';
    color: #ffeb00;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 5vw;



}

/*----Tagline - MediaQuerry---*/


@media screen and (min-width: 760px) {

    .tagline1 {


        padding: 3vw 3vw;


    }

    .tagline-text1 {
        font-size: 3vw;



    }

}

/*-------------------NYHEDER-------------------------*/

#nyheder {

    width: 100%;
    height: 100%;
    padding-top: 7vw;
    border-top: 5px solid black;

}

.nyhedertext {}



/*----------------FOOTER-------------------*/




.stevns-indhold {


    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.3s;
    padding: 0 8px;
    margin: 0;
}

.stevns-indhold.show {
    opacity: 1;
    max-height: 500px;
    padding: 8px;
    margin: 2px 0 4px;
}


#indholds-nav {
    padding: 2vw 5vw;
}

.accordion {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 1vw;
    transition: 0.3s;
    margin-bottom: 10vw;
}

.accordion2 {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 1vw;
    transition: 0.3s;
    margin-bottom: 10vw;
}

.accordion3 {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 1vw;
    transition: 0.3s;
    margin-bottom: 10vw;
}



div.show {

    opacity: 1;
    max-height: 500px;
    padding: 8px;
    margin: 2px 0 4px;


}

/*---til at skjule indhold når man navigere rundt i sider---*/

.hide {
    visibility: hidden;

}

.hidden {
    display: none;


}

/*---Parent og childelementer til flex af vores indhold i accordion---*/

#indhold {

    display: flex;
    flex-wrap: wrap;

}

.tekst {

    margin: 3vw;
    flex-grow: 1;
    flex-basis: 500px;


}


.tekst p {

    color: black;
    font-size: 4vw;
    font-family: 'Gotham';
    font-weight: 300;
    line-height: 1.5;
    flex-basis: 400px;
    flex-grow: 1;


}

.tekst h3 {

    margin: 4vw;

}

.billede {
    flex-basis: 500px;
    flex-grow: 1;
    margin: 3vw;


}


.billedefyr {

    margin: 3vw;


}

.billedehavn {

    margin: 3vw;


}

.billedekridt {

    margin: 3vw;


}

.billedemand {

    margin: 3vw;


}

.billedebrud {

    margin: 3vw;


}

.billederodvig {

    margin: 3vw;


}

.billedehistorie {

    margin: 3vw;


}

.billedekultur {

    margin: 3vw;


}

.billedeundervisning {

    margin: 3vw;





}

.billedeundervisningto {

    margin: 3vw;


}




#indholds-nav h2 {

    font-size: 2.5vw;
    margin: 0vw 1vw;
    font-weight: 300;

}


@media screen and (min-width: 760px) {

    .tekst p {

        color: black;
        font-size: 1vw;


    }

    .tekst h3 {

        margin: 2vw;
        font-family: 'Gotham';
        font-weight: 300;
        font-size: 1.7vw;
        text-transform: uppercase;

    }

    .tekst h4 {

        margin-top: 2vw;
        margin-bottom: 0.5vw;
        font-family: 'Gotham';
        font-weight: 300;
        text-transform: uppercase;


    }



    #indholds-nav h2 {

        font-size: 2vw;
        margin: 0vw 1vw;
        font-weight: 200;

    }

    #indholds-nav {
        padding: 0vw;
    }


}

.undervisning {
    border: none;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Gotham';
    font-weight: 300;
    cursor: pointer;
    color: #ffffff;
    padding: 2vw;
    background-color: rgba(182, 171, 130, 0);

}

.viden {
    border: none;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Gotham';
    font-weight: 300;
    cursor: pointer;
    color: #fcffff;
    padding: 2vw;
    background-color: rgba(182, 171, 130, 0);
}

.attraktioner {
    border: none;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Gotham';
    font-weight: 300;
    cursor: pointer;
    color: #ffffff;
    padding: 2vw;
    background-color: rgba(182, 171, 130, 0);


}



#indholds-nav {
    background-color: rgba(182, 171, 130, 0.53);
}



.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vw;


}

.open-hours p {

    font-weight: 100;
    font-size: 3vw;

}

.open-hours {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 5vw;

}


.footer-kontakt p {

    font-weight: 100;
    font-size: 3vw;

}

.footer-kontakt {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 5vw;
}

.find-vej {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 5vw;
}

.attraktionflextext {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 0vw;
    justify-content: space-between;
}




.attraktionflextext h2 {
    font-weight: 600;
    font-size: 3vw;

}

@media screen and (min-width:768px) {

    .attraktionflextext h2 {
        font-size: 2vw;
    }

    .attraktionflextext {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        margin: 2vw 5vw;
        justify-content: space-between;
    }


}
