* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-family: 'Gotham';
    font-weight: normal;
    text-align: center;

}


h1 {
    text-align: left;
    font-family: 'The Bold Font';
    color: #ffffff;
    font-size: 6vw;
}

@font-face {
    font-family: 'The Bold Font';
    src: url('fonts/TheBoldFont.woff2') format('woff2'),
        url('fonts/TheBoldFont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBold.woff2') format('woff2'),
        url('fonts/GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBold.woff2') format('woff2'),
        url('fonts/GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Thin.woff2') format('woff2'),
        url('fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.woff2') format('woff2'),
        url('fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-XLight.woff2') format('woff2'),
        url('fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Book.woff2') format('woff2'),
        url('fonts/Gotham-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('fonts/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Black.woff2') format('woff2'),
        url('fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Light.woff2') format('woff2'),
        url('fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/*----------------HEADER-------------------*/



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

}

.navbar {
    text-transform: uppercase;
    font-size: 10px;

    padding-bottom: 10px;
    font-weight: 800;

    transition: .4s;

}

.nav-colored {

    transition: .4s;
    background: rgba(87, 118, 177, 0.57);


}

.main-nav {
    list-style-type: none;
    display: none;
    padding-top: 10vw;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.86);

}

.active {
    display: block;
}


.main-nav li {
    text-align: center;
    margin: 15px auto;

}

.logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    width: 30px;
    float: left;




}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}


@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -10vw;

    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;

    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: underline;

    }
}

.headertext {
    padding: 40vw 40vw 0vw 0vw;
    display: inline-block;
    font-size: 3vw;
}


.arrow {
    width: 13vw;
    display: inline-block;
    margin-top: -100vw;
    padding-bottom: 1vw;
}


/*----------------HEADER END-------------------*/




/*----------------GRID AREAS-------------------*/




#content > * {}

header {
    grid-area: header;
}



h3 {
    text-align: left;
    color: #000000;
    font-size: 3vw;

}

p {
    text-align: left;
    /*    font-family: 'The Bold Font';*/
    font-family: 'Gotham';
    font-weight: lighter;
    color: #ffffff;
    font-size: 3vw;



}

.underheader {

    text-align: left;
    font-family: 'Gotham';
    font-weight: 300;
    color: #ffffff;
    font-size: 2vw;
    text-transform: uppercase;

}

main {
    grid-area: main;
    background-image: url(Billeder/Faxe_Kalkbrud_.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.om {
    grid-area: om;

}

.omflex {

    display: flex;
    flex-wrap: wrap;
    padding: 2vw;

}

img {

    width: 100%;

}

.aarskort {
    flex-grow: 1;
    flex-basis: 300px;

}

.aarskort_tekst {

    flex-grow: 1;
    flex-basis: 300px;
    margin: 3vw;


}

.aarskort_tekst p {

    color: black;
    line-height: 4vw;
    font-weight: 300;
    font-size: 3vw;


}

.aktuelt {
    grid-area: aktuelt;

    padding: 6vw;
}

footer {
    grid-area: footer;
    background: rgb(47, 47, 47);

}


#attraktioner {
    grid-area: attraktioner;
    display: grid;

}

.pris-linje {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0vw 3vw;

}

.pris-linje p {

    font-size: 3.4vw;
    font-weight: 300;
}




@media screen and (min-width:768px) {

    .omflex {

        align-content: ;

    }


    .aarskort {
        flex-grow: 1;
        flex-basis: 300px;
        margin-top: -1vw;

    }

    .aarskort_tekst {

        flex-grow: 1;
        flex-basis: 300px;
        margin: 0vw 3vw;


    }

    .aarskort_tekst p {

        color: black;
        line-height: 2.5vw;
        font-weight: 300;
        font-size: 1vw;


    }



}

/*----------------GRID AREAS END-------------------*/





/*----------------ATTRAKTIONER-------------------*/




.attraktionflex {

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

/*-----------stevns klint----------------*/


.attraktion1 {
    height: 100vw;
    background-color: #8abfb5;
    flex-grow: 1;
    flex-basis: 100px;
    margin: 3vw;
    padding: 6vw;
    background-color: #b4cec9;


}


.stevnsklint_img {
    display: inline-block;

    z-index: 1;
    width: 25vw;
    text-align: center;




}

.klint-text {

    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    color: white;
    padding: 0vw 3vw;
    padding: 4vw 3vw;




}

/*-----------KOLDKRIGSMUSEUM----------------*/


.attraktion2 {

    height: 120vw;
    background-color: #8abfb5;
    flex-grow: 1;
    flex-basis: 200px;
    margin: 3vw;
    padding: 6vw;


}

.koldkrigs_img {
    display: inline-block;
    z-index: 1;
    width: 30vw;
    text-align: center;



}

.koldkrigs-text {

    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    color: white;
    padding: 0vw 3vw;
    padding: 4vw 3vw;




}




/*-----------GEOMUSEUM----------------*/

.attraktion3 {
    height: 120vw;
    background-color: #6eb1a1;
    flex-grow: 1;
    flex-basis: 100px;
    margin: 3vw;
    padding: 6vw;

}


.geomuseum_img {
    display: inline-block;
    z-index: 1;
    width: 22vw;
    text-align: center;




}


.geo-text {

    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    color: white;
    padding: 4vw 3vw;




}


/*----------------ATTRAKTIONER SLUT-------------------*/

@media screen and (min-width: 550px) {




    /*-----------stevns klint----------------*/


    .attraktion1 {
        height: 95vw;
        background-color: #b4cec9;
        flex-grow: 1;
        flex-basis: 100px;
        padding: 1vw;
        margin: 1vw;



    }


    .stevnsklint_img {
        display: inline-block;
        z-index: 1;
        width: 20vw;
        text-align: center;

    }

    .klint-text {

        text-align: center;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        color: white;

    }

    /*-----------KOLDKRIGSMUSEUM----------------*/


    .attraktion2 {

        height: 95vw;
        background-color: #8abfb5;
        flex-grow: 1;
        flex-basis: 100px;
        margin: 1vw;
        padding: 1vw;



    }

    .koldkrigs_img {
        display: inline-block;

        z-index: 1;
        width: 20vw;
        text-align: center;



    }

    .koldkrigs-text {

        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        color: white;


    }


    /*-----------GEOMUSEUM----------------*/

    .attraktion3 {
        height: 95vw;
        background-color: #6eb1a1;
        flex-grow: 1;
        flex-basis: 100px;
        margin: 1vw;
        padding: 1vw;


    }


    .geomuseum_img {
        display: inline-block;
        z-index: 1;
        width: 15vw;
        text-align: center;
        margin-bottom: 4vw;

    }

    .geo-text {

        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        color: white;

    }

    /*----------------ATTRAKTIONER SLUT-------------------*/

    .pris-linje {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1vw;

    }

    .pris-linje p {

        font-size: 1.5vw;
    }




}



/*----------------TAGLINE-------------------*/


.tagline {

    grid-area: tagline;
    background-color: rgba(34, 115, 138, 0.59);
    text-align: center;
    margin-top: 5vw;


}

.tagline-text {

    text-align: center;
    font-family: 'Gotham';
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5vw;
    font-size: 7vw;



}

.tagline1 {

    grid-area: tagline;
    text-align: center;
    padding: 8vw 3vw;


}

.tagline-text1 {

    text-align: center;
    font-family: 'Gotham';
    font-weight: lighter;
    color: #88AABF;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 5vw;



}

@media screen and (min-width: 550px) {

    .tagline1 {

        grid-area: tagline;

        padding: 4vw 1vw;
        padding-bottom: 2vw;


    }

    .tagline-text1 {


        font-size: 3vw;

    }

    .tagline-text {

        text-align: center;
        font-family: 'Gotham';
        font-weight: lighter;
        color: #ffffff;
        padding: 5vw;
        font-size: 3.5vw;

    }


}






/*----------------FOOTER-------------------*/

.footer-content {

    padding: 5vw;
    background: #25282B;
    display: flex;
    flex-wrap: wrap;
    width: 100%;



}

.open-hours p {

    font-weight: 100;
    font-size: 3vw;
     text-align: center;

}

.open-hours {
    flex-grow: 1;
    padding: 5vw;
     text-align: center;

}


.footer-kontakt p {

    font-weight: 100;
    font-size: 3vw;
     text-align: center;

}

.open-hours h2 {

    font-size: 3vw;
    text-transform: uppercase;
    margin: 2vw 0vw;

}


.footer-kontakt h2 {

    font-size: 3vw;
    text-transform: uppercase;
    margin: 2vw 0vw;
     text-align: center;

}

.footer-kontakt {
    flex-grow: 1;

    padding: 5vw;

}

.find-vej {
    flex-grow: 1;

    padding: 5vw;
}

.find-vej-tekst{


    color: white;
    text-transform: uppercase;
    margin: 0vw 0vw 2vw;
     text-align: center;

}





@media screen and (min-width: 760px) {

    footer {

        background: rgb(199, 196, 180);
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

 .footer-content {

    padding: 2vw;




}
    .open-hours {
        flex-grow: 1;
        flex-basis: 200px;
        padding: 0vw;

    }

    .footer-kontakt {
        flex-grow: 1;
        flex-basis: 200px;
        padding: 2vw;

    }

    .find-vej {
        flex-grow: 1;
        flex-basis: 200px;
        padding: 2vw;


    }

    .find-vej img{
          border-radius: 100%;
        overflow: hidden;
        max-height: 15vw;
        width: auto;

    }

    .open-hours p {

        font-size: 1vw;
        line-height: 2vw;
    }


    .footer-kontakt p {

        font-size: 1vw;
        line-height: 2vw;

    }

     .footer-kontakt{
padding: 0vw;

    }

    .open-hours h2 {

        font-size: 1.7vw;
        text-transform: uppercase;
        margin: 2vw 0vw;
    }


    .footer-kontakt h2 {

        font-size: 1.7vw;
        text-transform: uppercase;
        margin: 2vw 0vw;

    }


}



/*----------------FOOTER END-------------------*/
